* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,84,166,1) 0%, rgba(132,189,201,1) 90% );
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    padding-top: 15px;
    height: 4rem;
    background-color: #303333;
}

.navbar li {
    list-style: none;
    font-weight: bold;
    margin-left: 5px;
    font-size: 1.5rem;
    animation-duration: 2s;
    animation-name: list;
    color: white;
}

@keyframes list {
    from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
  }


.btn {
    background-color: coral;
    border-radius: 10px;
    width: 20vh;
    text-align: center;
    transition: all 400ms ease;
}

.btn:hover {
    
    box-shadow: 5px 5px 20px rgba(209, 195, 195, 0.4);
    transform: translateY(-3%);
}

.img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2px;
}

.img img {
    
    width: 630px;
    height: 400px;
    animation-duration: 3s;
    animation-name: imagen;
    
    
}

@keyframes imagen { 
    
    from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}

.section {
    
    width: 100vh;
    display: flex;
    margin:  0 auto;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 10px;

}

.section:hover {
    
    box-shadow: 0 0.1rem 0.4rem rgba(22, 19, 19, 0.274);
    cursor: pointer;

}

.section h1 {
    
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.section p {
    
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.section2 {
    
    display: flex;
    margin-top: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}


.card {
    
    width: 100%;
    margin: 20px;
    height: 400px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 400ms ease;
}

.card img {
   
    width: 80%;
    height: 210px;
    align-items: center;
    margin-top: 10px;
    
}

.card h3 {
    
    font-weight: bold;
    font-size: 1.5rem;
}

.card p {
    
    font-weight: bold;
    font-size: 18px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.form {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
}

.contacto {
    
    background-color: #3033335d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contacto h1 {
    color: white;
    font-size: 3rem;
}

.form {
    margin-top: 50px;
}

.campos {
    
    width: 500px;
    height: 3rem;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(134, 143, 168, 0.6);
    border: 1px solid powderblue;
    text-align: center;
    cursor: pointer;
}

.button {
    
    width: 7rem;
    height: 1.5rem;
    border-radius: 10px;
    margin-top: 10px;
    background-color:  rgba(134, 143, 168, 0.6);
    color: white;
    cursor: pointer;
    border: 1px solid powderblue;
}

footer {
    height: 100px;
    background-color: #3033335d;
    border-top: 3px solid rgb(159, 161, 163) ;
    margin-top: 10px;
}

footer p {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
}

/*
    HOLA PROFES, LES QUERIA COMENTAR ACA, QUE NO ME SALIO EL RESPONSIVE, CUANDO LO QUERIA APLICAR SE ME ROMPIA TODO Y NO PUDE ENCONTRARLE LA VUELTA SINCERAMENTE. MIL DISCULPAS 
*/