* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background: linear-gradient(90deg, rgba(153,152,151,0.6587009803921569) 0%, rgba(177,179,185,1) 0%);


}

h1, p {
    
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.text1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
    animation-duration: 2s;

}

.form {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    
}

.text2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.text2 p,a {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.btn {

    width: 7rem;
    border-radius: 10px;
    margin-top: 10px;
    background-color:  rgba(134, 143, 168, 0.6);
    color: white;
    cursor: pointer;
    border: 1px solid powderblue;
}


.campos {

    width: 100vh;
    height: 3rem;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(134, 143, 168, 0.6);
    border: 1px solid powderblue;
    text-align: center;
    cursor: pointer;
}

